# Основные зависимости
Django==4.2  # Веб-фреймворк
Pillow==10.0.0  # Для работы с изображениями
python-dotenv==1.0.0  # Для работы с переменными окружения
markdown==3.4.4  # Для работы с markdown
django-cors-headers==4.2.0  # Для CORS
django-cleanup==8.0.0  # Для автоматической очистки файлов
django-markdownx==4.0.2  # Для редактора markdown
django-widget-tweaks==1.5.0  # Для работы с формами
whitenoise==6.5.0  # Для раздачи статических файлов
gunicorn==21.2.0  # Для запуска в продакшене
