{% extends 'base.html' %}

{% block content %}
<div class="login-container">
    <h2>Введите новый пароль</h2>
    
    {% if validlink %}
        <form method="post" class="login-form">
            {% csrf_token %}
            <div class="form-group">
                {{ form.new_password1.label_tag }}
                {{ form.new_password1 }}
                {% if form.new_password1.errors %}
                    <div class="error">{{ form.new_password1.errors }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.new_password2.label_tag }}
                {{ form.new_password2 }}
                {% if form.new_password2.errors %}
                    <div class="error">{{ form.new_password2.errors }}</div>
                {% endif %}
            </div>
            <button type="submit" class="login-button">Изменить пароль</button>
        </form>
    {% else %}
        <p>Ссылка для восстановления пароля недействительна. Возможно, она уже была использована или устарела.</p>
    {% endif %}
</div>
{% endblock %}
