{% extends 'base.html' %}
{% load custom_filters %}

{% block content %}
<div class="content-container">
    <h1 data-aos="fade-down">Обо мне</h1>
    {% if about_info %}
    <div class="about-content" data-aos="fade-up">
        <div class="profile-info">
            <h2>{{ about_info.name }}</h2>
            <p>{{ about_info.title }}</p>
            <div class="experience" data-aos="fade-up" data-aos-delay="100">
                <h3>Опыт работы</h3>
                {{ about_info.experience|linebreaks }}
            </div>
            <div class="education" data-aos="fade-up" data-aos-delay="200">
                <h3>Образование</h3>
                {{ about_info.education|linebreaks }}
            </div>
        </div>
    </div>
    {% else %}
    <p data-aos="fade-up">Информация пока не добавлена.</p>
    {% endif %}
</div>
{% endblock %}
